{% extends "deeplearning/base.html" %}
{% load static %}
	    {% block content %}
	    <article class="about-section py-5">
		    <div class="container">
					<figure><img class="img-fluid" src="{% static 'deeplearning/images/aqualink.png' %}" alt="image"></figure>
					<h5 class="mt-5">Aqualink Bangladesh Ltd.</h5>
					<p>Increase Efficiency with Smart Solutions. We provide different sorts of IT solution products and service e.g. IOT, Machine Learning, Robotics, Industrial Automation, Mobile App Development, Artificial Intelligence, Web Development and Embedded Systems.</p>
			   
				
					<h5 class="mt-5">Our services</h5>
					<ul>
						<li>Robotics and Industrial Automation</li>
						<li>Artificial Intelligence</li>
						<li>Web Development</li>
						<li>Mobile Application Development</li>
						<li>IoT</li>
						<li>Embedded Systems</li>
						<li>UI/UX designing</li>

					</ul>
		    </div>
	    </article><!--//about-section-->
	    </section> -->
	    {% endblock %}
